@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  /* Light mode variables */
  --background: #FFF0F3;
  --foreground: #2D3748;
}

/* Only change custom properties in dark mode, not classes */
:root.dark {
  --background: #1A1523;
  --foreground: #E2E8F0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-plus-jakarta-sans), Arial, Helvetica, sans-serif; /* Update to use Plus Jakarta Sans */
  transition: background-color 0.3s ease, color 0.3s ease;
}
